/* ------------------------------------------- variables */
/* ------------------------------------------- variables */
/* ------------------------------------------- mixins */
/* ------------------------------------------- fontface */
@font-face {
  font-family: 'CircularBold';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Bold.woff2') format('woff2'), url('../fonts/CircularStd-Bold.woff') format('woff'), url('../fonts/CircularStd-Bold.ttf') format('truetype'), url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('../fonts/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/CircularStd-Book.woff2') format('woff2'), url('../fonts/CircularStd-Book.woff') format('woff'), url('../fonts/CircularStd-Book.ttf') format('truetype'), url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ------------------------------------------- general */
html,
body {
  background: #ffffff;
  color: #000000;
  font-family: 'Circular', sans-serif;
  text-align: center;
  width: 100%;
}
html {
  font-size: 10pt;
}
.pseudos {
  content: "";
  display: block;
  position: absolute;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  box-sizing: border-box;
}
/* ------------------------------------------- cta */
.cta {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: 'CircularBold', sans-serif;
}
.cta.v1 {
  background: #ffffff;
  color: #3270f5;
  line-height: 40px;
  font-size: 1.1rem;
  padding: 0 20px;
}
.cta.v2 {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  background: #2ed8b1;
  color: #ffffff;
  line-height: 45px;
  font-size: 1.2rem;
  padding: 0 50px;
}
.cta.v2.a1 {
  background: #614fc4;
}
/* ------------------------------------------- header */
.header {
  background: url('../img/background-header.png') center center no-repeat;
  background-size: cover;
  padding-bottom: 150px;
}
.header .wrapper {
  text-align: center;
}
.header .top {
  padding: 20px 0;
  overflow: hidden;
}
.header .top .logo {
  background: url('../img/logo-lean-app-studios.png') 0 0 no-repeat;
  background-size: cover;
  display: block;
  float: left;
  height: 75px;
  text-indent: -9999px;
  width: 220px;
}
.header .top .cta {
  float: right;
  margin: 17.5px 0;
}
.header h1 {
  color: #ffcd92;
  font-family: 'CircularBold', sans-serif;
  font-size: 4rem;
  margin: 100px auto 50px auto;
  max-width: 640px;
}
.header h1 .subtitle {
  color: #ffffff;
  display: block;
  font-family: 'Circular', sans-serif;
  font-size: 3rem;
  margin-top: 50px;
  line-height: 55px;
}
.header h1 .subtitle .pink {
  color: #ff92ff;
  font-family: 'CircularBold', sans-serif;
}
/* ------------------------------------------- forms */
.form form {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}
.form form label {
  display: block;
  text-align: left;
}
.form form label span {
  display: block;
  color: #ffcd92;
  font-size: 1.4rem;
  margin-bottom: 15px;
  text-align: center;
}
.form form label input[type="email"] {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
  border: none;
  line-height: 45px;
  height: 45px;
  padding: 0 130px 0 20px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  font-size: 1.2rem;
}
.form form label .warning-message {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 20px;
  border-radius: 30px;
  font-size: 1.5rem;
}
.form form label .warning-message:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 10px 7.5px;
  top: -10px;
  margin-left: -7px;
  left: 50%;
}
.form form label .warning-message.okey {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  margin: 20px 0 0 0;
  background: #2ed8b1;
  color: #ffffff;
}
.form form label .warning-message.okey:before {
  border-color: transparent transparent #2ed8b1 transparent;
}
.form form label .warning-message.error {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  margin: 20px 0 0 0;
  background: #d21039;
  color: #ffffff;
}
.form form label .warning-message.error:before {
  border-color: transparent transparent #d21039 transparent;
}
.form form input[type="button"] {
  cursor: pointer;
  bottom: 0;
  position: absolute;
  right: -1px;
}
/* ------------------------------------------- main */
.main.wrapper {
  text-align: center;
}
.main.wrapper .icon-tree {
  width: 170px;
  margin: 0 auto;
  position: relative;
  top: -50px;
}
.main.wrapper .icon-tree img {
  width: 100%;
  height: auto;
}
.main.wrapper h2 {
  color: #614fc4;
  font-family: 'CircularBold', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  top: -20px;
  line-height: 60px;
}
.main.wrapper .content {
  overflow: hidden;
  text-align: left;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}
.main.wrapper .content .icon {
  width: 50%;
}
.main.wrapper .content .icon img {
  width: 100%;
  height: auto;
}
.main.wrapper .content p {
  font-size: 2.5rem;
  color: #799199;
  max-width: 48%;
  line-height: 45px;
  position: relative;
}
.main.wrapper .line-wrapper {
  position: relative;
}
.main.wrapper .line-wrapper .line {
  position: absolute;
  width: 250px;
}
.main.wrapper .line-wrapper .line img {
  width: 100%;
  height: auto;
}
.main.wrapper .content.right .icon {
  float: left;
}
.main.wrapper .content.right p {
  float: right;
}
.main.wrapper .content.left p {
  float: left;
}
.main.wrapper .content.left .icon {
  float: right;
}
.main.wrapper .content.development .icon {
  max-width: 560px;
}
.main.wrapper .content.development p {
  margin-top: 100px;
}
.main.wrapper .content.development + .line {
  right: 385px;
  bottom: -130px;
  z-index: 0;
}
.main.wrapper .content.pms .icon {
  max-width: 460px;
}
.main.wrapper .content.pms p {
  margin-top: 70px;
}
.main.wrapper .content.pms + .line {
  -webkit-filter: FlipH;
  -moz-filter: FlipH;
  -ms-filter: FlipH;
  -o-filter: FlipH;
  filter: FlipH;
  -webkit-transform: scalex(-1);
  -moz-transform: scalex(-1);
  -ms-transform: scalex(-1);
  -o-transform: scalex(-1);
  transform: scalex(-1);
  right: 435px;
  bottom: -135px;
  z-index: 0;
}
.main.wrapper .content.agile .icon {
  max-width: 435px;
}
.main.wrapper .content.agile p {
  margin-top: 57.5px;
}
/* ------------------------------------------- footer */
.footer {
  background: url('../img/background-footer.png') center center no-repeat;
  background-size: cover;
  padding: 180px 0 150px 0;
}
.footer .wrapper {
  text-align: center;
  color: #ffffff;
}
.footer h3 {
  font-size: 4rem;
  margin-bottom: 30px;
  font-family: 'CircularBold', sans-serif;
}
.footer p {
  font-size: 1.5rem;
  line-height: 30px;
  max-width: 550px;
  margin: 0 auto 50px auto;
}
.footer .form form label span {
  display: none;
}
/* ------------------------------------------- responsive */
@media (max-width: 860px) {
  .main.wrapper .content .icon {
    float: inherit !important;
    margin: 0 auto;
  }
  .main.wrapper .content p {
    float: inherit !important;
    text-align: center;
    max-width: 100%;
    margin: 50px 0 10px 0!important;
  }
  .main.wrapper .line-wrapper .line {
    display: none;
  }
}
@media (max-width: 430px) {
  .header .top .logo {
    float: inherit;
    margin: 0 auto;
  }
  .header .top .cta {
    float: inherit;
    height: 40px;
    display: block;
    max-width: 180px;
    box-sizing: border-box;
    margin: 30px auto 0 auto;
  }
}
