/* ------------------------------------------- variables */
@black: #000;
@white: #fff;
@blue: #3270F5;
@beige: #FFCD92;
@pink: #FF92FF;
@green: #2ED8B1;
@violet: #614FC4;
@grey: #799199;
@red: #d21039;

/* ------------------------------------------- mixins */

.transition (@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
.transitions (@transition1, @transition2) {
  -webkit-transition: @transition1, @transition2;
     -moz-transition: @transition1, @transition2;
      -ms-transition: @transition1, @transition2;
       -o-transition: @transition1, @transition2;
          transition: @transition1, @transition2;
}
.transform (@transform) {
  -webkit-transform: @transform;
     -moz-transform: @transform;
      -ms-transform: @transform;
       -o-transform: @transform;
          transform: @transform;
}
.text-shadow (@textshadow) {
  -webkit-text-shadow: @textshadow;
     -moz-text-shadow: @textshadow;
      -ms-text-shadow: @textshadow;
       -o-text-shadow: @textshadow;
          text-shadow: @textshadow;
}
.box-shadow (@boxshadow) {
  -webkit-box-shadow: @boxshadow;
     -moz-box-shadow: @boxshadow;
      -ms-box-shadow: @boxshadow;
       -o-box-shadow: @boxshadow;
          box-shadow: @boxshadow;
}
.box-sizing (@boxsize) {
  -webkit-box-sizing: @boxsize;
     -moz-box-sizing: @boxsize;
      -ms-box-sizing: @boxsize;
       -o-box-sizing: @boxsize;
          box-sizing: @boxsize;
}
.filter (@filter) {
  -webkit-filter: @filter;
     -moz-filter: @filter;
      -ms-filter: @filter;
       -o-filter: @filter;
          filter: @filter;
}
.opacity (@opacity) {
  -webkit-opacity: @opacity;
     -moz-opacity: @opacity;
      -ms-opacity: @opacity;
       -o-opacity: @opacity;
          opacity: @opacity;
}
.backgroundsize (@backgroundsize) {
  -webkit-background-size: @backgroundsize;
     -moz-background-size: @backgroundsize;
      -ms-background-size: @backgroundsize;
       -o-background-size: @backgroundsize;
          background-size: @backgroundsize;
}
.border-radius (@borderradius) {
  -webkit-border-radius: @borderradius;
     -moz-border-radius: @borderradius;
      -ms-border-radius: @borderradius;
       -o-border-radius: @borderradius;
          border-radius: @borderradius;
}
.animation (@animation) {
  -webkit-animation: @animation;
     -moz-animation: @animation;
      -ms-animation: @animation;
       -o-animation: @animation;
          animation: @animation;
}
.column-gap (@columngap) {
  -webkit-column-gap: @columngap;
     -moz-column-gap: @columngap;
      -ms-column-gap: @columngap;
       -o-column-gap: @columngap;
          column-gap: @columngap;
}
.column-count (@columncount) {
  -webkit-column-count: @columncount;
     -moz-column-count: @columncount;
      -ms-column-count: @columncount;
       -o-column-count: @columncount;
          column-count: @columncount;
}

/* ------------------------------------------- fontface */

@font-face {
	font-family: 'CircularBold';
	src: url('../fonts/CircularStd-Bold.eot');
	src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		   url('../fonts/CircularStd-Bold.woff2') format('woff2'),
		   url('../fonts/CircularStd-Bold.woff') format('woff'),
		   url('../fonts/CircularStd-Bold.ttf') format('truetype'),
		   url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('../fonts/CircularStd-Book.eot');
	src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		   url('../fonts/CircularStd-Book.woff2') format('woff2'),
		   url('../fonts/CircularStd-Book.woff') format('woff'),
		   url('../fonts/CircularStd-Book.ttf') format('truetype'),
		   url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* ------------------------------------------- general */

html, body {
  background: @white;
  color: @black;
  font-family: 'Circular', sans-serif;
  text-align: center;
  width: 100%
}
html { font-size: 10pt }
.pseudos {
  content: "";
  display: block;
  position: absolute
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table
  }
  &:after { clear: both }
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  box-sizing: border-box;
}

/* ------------------------------------------- cta */

.cta {
  .border-radius(20px);
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: 'CircularBold', sans-serif;
}
.cta.v1 {
  background: @white;
  color: @blue;
  line-height: 40px;
  font-size: 1.1rem;
  padding: 0 20px;
}
.cta.v2 {
  .border-radius(25px);
  background: @green;
  color: @white;
  line-height: 45px;
  font-size: 1.2rem;
  padding: 0 50px;
}
.cta.v2.a1 { background: @violet }

/* ------------------------------------------- header */

.header {
  background: url('../img/background-header.png') center center no-repeat;
  background-size: cover;
  padding-bottom: 150px;

  .wrapper { text-align: center }
  .top {
    padding: 20px 0;
    overflow: hidden;

    .logo {
      background: url('../img/logo-lean-app-studios.png') 0 0 no-repeat;
      background-size: cover;
      display: block;
      float: left;
      height: 75px;
      text-indent: -9999px;
      width: 220px;
    }
    .cta {
      float: right;
      margin: 17.5px 0;
    }
  }
  h1 {
    color: @beige;
    font-family: 'CircularBold', sans-serif;
    font-size: 4rem;
    margin: 100px auto 50px auto;
    max-width: 640px;

    .subtitle {
      color: @white;
      display: block;
      font-family: 'Circular', sans-serif;
      font-size: 3rem;
      margin-top: 50px;
      line-height: 55px;

      .pink {
        color: @pink;
        font-family: 'CircularBold', sans-serif;
      }
    }
  }
}

/* ------------------------------------------- forms */

.form {
  form {
    margin: 0 auto;
    max-width: 400px;
    position: relative;

    label {
      display: block;
      text-align: left;

      span {
        display: block;
        color: @beige;
        font-size: 1.4rem;
        margin-bottom: 15px;
        text-align: center;
      }
      input[type="email"] {
        .border-radius(25px);
        .box-shadow(0px 10px 30px 0px rgba(0,0,0,.3));
        border: none;
        line-height: 45px;
        height: 45px;
        padding: 0 130px 0 20px;
        width: 100%;
        outline: none;
        box-sizing: border-box;
        font-size: 1.2rem;
      }
      .warning-message {
        .transition(all .4s);
        .opacity(0);
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: 10px 0 0 0;
        padding: 20px;
        border-radius: 30px;
        font-size: 1.5rem;

        &:before {
          .pseudos();
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7.5px 10px 7.5px;
          top: -10px;
          margin-left: -7px;
          left: 50%;
        }
      }
      .warning-message.okey {
        .opacity(1);
        margin: 20px 0 0 0;
        background: @green;
        color: @white;

        &:before { border-color: transparent transparent @green transparent; }
      }
      .warning-message.error {
        .opacity(1);
        margin: 20px 0 0 0;
        background: @red;
        color: @white;

        &:before { border-color: transparent transparent @red transparent; }
      }
    }
    input[type="button"] {
      cursor: pointer;
      bottom: 0;
      position: absolute;
      right: -1px;
    }
  }
}

/* ------------------------------------------- main */

.main.wrapper {
  text-align: center;

  .icon-tree {
    width: 170px;
    margin: 0 auto;
    position: relative;
    top: -50px;

    img {
      width: 100%;
      height: auto;
    }
  }
  h2 {
    color: @violet;
    font-family: 'CircularBold', sans-serif;
    font-size: 3.5rem;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    top: -20px;
    line-height: 60px;
  }
  .content {
    overflow: hidden;
    text-align: left;
    margin-top: 50px;
    position: relative;
    z-index: 1;

    .icon {
      width: 50%;

      img {
        width: 100%;
        height: auto
      }
    }
    p {
      font-size: 2.5rem;
      color: @grey;
      max-width: 48%;
      line-height: 45px;
      position: relative;
    }
  }
  .line-wrapper {
    position: relative;

    .line {
      position: absolute;
      width: 250px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .content.right {

    .icon { float: left }
    p { float: right }
  }
  .content.left {
    p { float: left}
    .icon { float: right }
  }
  .content.development {
    .icon { max-width: 560px }
    p { margin-top: 100px }
  }
  .content.development + .line {
    right: 385px;
    bottom: -130px;
    z-index: 0;
  }
  .content.pms {
    .icon { max-width: 460px }
    p { margin-top: 70px }
  }
  .content.pms + .line {
    .filter(FlipH);
    .transform(scaleX(-1));
    right: 435px;
    bottom: -135px;
    z-index: 0;
  }
  .content.agile {
    .icon { max-width: 435px }
    p { margin-top: 57.5px }
  }
}

/* ------------------------------------------- footer */

.footer {
  background: url('../img/background-footer.png') center center no-repeat;
  background-size: cover;
  padding: 180px 0 150px 0;

  .wrapper {
    text-align: center;
    color: @white;
  }
  h3 {
    font-size: 4rem;
    margin-bottom: 30px;
    font-family: 'CircularBold', sans-serif;
  }
  p {
    font-size: 1.5rem;
    line-height: 30px;
    max-width: 550px;
    margin: 0 auto 50px auto;
  }
  .form {
    form {
      label {
        span { display: none }
      }
    }
  }
}


/* ------------------------------------------- responsive */

@media (max-width: 860px) {
  .main.wrapper .content .icon {
    float: inherit !important;
    margin: 0 auto;
  }
  .main.wrapper .content p {
    float: inherit !important;
    text-align: center;
    max-width: 100%;
    margin: 50px 0 10px 0!important;
  }
  .main.wrapper .line-wrapper .line { display: none }
}
@media (max-width: 430px) {
  .header .top .logo {
    float: inherit;
    margin: 0 auto;
  }
  .header .top .cta {
    float: inherit;
    height: 40px;
    display: block;
    max-width: 180px;
    box-sizing: border-box;
    margin: 30px auto 0 auto;
  }
}
